 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-photoshop-plain colored"></i>
      <i class="devicon-google-original"></i>
      <i class="devicon-linkedin-plain colored"></i>
      <p>I use <b>Photoshop CC</b> and <b>Google Suit</b> for a long time and have a nice know-how of the tools and resources to 
            work with maximum productivity.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-jetbrains-plain colored"></i>
      <p>Currently, I'm studying Python and improve my programming skills in this language. <b>Image Recognition</b> and 
            <b>Machine Learning</b> are my interesting areas too.</p>
    </div>
    <div class="tech">
      <h2>Operating Systems</h2>
      <i class="devicon-windows8-original colored"></i>
      <i class="devicon-ubuntu-plain-wordmark colored"></i>
      <i class="devicon-android-plain colored"></i>
      <p>I have almost ever used a <b>Windows</b> machine, but when I started to study more about IT I've used so much Linux distros and the <b>Ubuntu</b> was the best one. I also use <b>Android</b> for a long time, 
            despite having already used <b>iOS</b>.</p>
    </div>
</div>