<div class="user-details">
  <h1> My Projects </h1>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="calculator" src="{{ "/assets/img/calculator.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Simple Calculator <img src="https://img.shields.io/badge/python-3.8.5-blue.svg"></h3>
    <ul>
      <li> Addition</li>
      <li> Subtraction</li>
      <li> Multiplication</li>
      <li> Division</li>
    </ul>
    <p>It's just a simple project of a calculator with the most basic operations. It was a project to test my skills and remember 
        the python syntax. Using the 'time' library, the code will wait some seconds at the end of the cal before to end.</p>
    <a class="project-link" href="https://github.com/ldequadra/calculator">Check it out</a>
  </div>
</div>

<!--

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/lear2.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Average Calculator <img src="https://img.shields.io/badge/python-3.8-blue.svg"></h3>
    <ul>
      <li> Point 1</li>
      <li> Point 2</li>
      <li> Point 3</li>
    </ul>
    <p>And that's another paragraph for talk about my second project. bla blabalbla blabla blablablab lbalbal balbalblab lab lab lab b lablablabl ablablab labl alalablab balalab lablablabalb albl alba lbalalabal balbalbla lab lab alblab labalba lba lb alba bla.</p>
    <a class="project-link" href="https://github.com/ldequadra/jokempo">Check it out</a>
  </div>
</div>

-->